html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

#root {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
